<div class="card container" style="width: 25rem;">
  <img class="card-img-top" src="assets/about.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<h3>Pipe</h3>

<table class="table">
  <thead><tr>
    <th>przed</th>
    <th>pipe</th>
    <th>po</th>
  </tr></thead>
  <tbody>
  <tr>
    <td> {{word}}</td>
    <td>uppercase</td>
    <td>{{word | uppercase}}</td>
  </tr>

  </tbody>

</table>






